body {
    background-color: #f0eded;
    font-family: 'Raleway', sans-serif;
}

.homePage {
    width: 80vw;
    max-width: 1000px;
    margin: 20px auto;
    min-height: 100px;
}

#homeButtons, .logoHome, .explanation {
    border-radius: 0.5rem;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px;
}

#homeButtons, .explanation {
    flex: 1;
    height: auto;
}

#homeButtons {
    flex: 1;
    height: 135px;
}

.explanation div {
    padding: 10px;
}

.logoHome img {
    display: block;
    width: 30%;
    min-width: 200px;
    margin: auto;
    padding: 10px;
}

#homeButtons label {
    width: calc(100% - 20px);
    margin: 0 10px;
}

#homeButtons input {
    width: calc(100% - 20px);
    margin: 10px;
    background-color: #f0eded;

}

#homeButtons form .btn {
    margin: 10px;
    width: calc(100% - 20px);
    background-color: #8cb369;
    color: #ffffff;
    font-weight: 500;
}

.valid-feedback, .invalid-feedback {
    padding: 0 10px;
}

#homeButtons form .btn:active, #homeButtons form .btn:hover {
    background-color: #509c3b;
    cursor: pointer;
}

.box {
    display: block;
    width: 60%;
    margin: auto;
}

.topBar {
    height: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    border-radius: 0.5rem;
    padding: 10px;
    margin: 10px;
}

.topBar div {
    width: 33%;
}

.boxes {
    padding: 10px;
    margin: 10px;
}

.homeButton {
    background-color: #177E89;
    width: 50px;
    height: 50px;
    padding: 0;
}

#backButton {
    background-color: #177E89 !important;
    display: block;
    height: 38px;
}

#newGame {
    background-color: #177E89 !important;
}

#newGame:hover, #newGame:active {
    background-color: #185d78 !important;
    cursor: pointer;
}

#backButton img {
    width: 19px;
    margin: 4.75px auto;
}

.helpButton  {
    background-color: #8cb369;
    width: 50px !important;
    height: 50px;
    padding: 0;
}

.gameButtons {
    text-align: left;
}

.gameButtons img, .homeButton img {
    width: 25px;
    margin: 12.5px auto;
}

.gameCodeBar {
    text-align: right;
}

.popUp {
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 15vh;
    width: 70%;
    height: 70vh;
    max-height: 500px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    padding: 50px;
    border-radius: 0.5rem;
}

h4 {
    font-weight: 700;
}

.popUp h4 {
    font-size: 24px;
}

.popUp p {
    font-size: 20px;
}

.popUpContent{
    height: 100%;
    overflow-y: scroll;
}

.backGroundFiller {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.3;
    width: 100vw;
    height: 100vh;
}

.closePopUp {
    z-index: 500;
    position: fixed;
    top: calc(15vh - 20px);
    left: calc(85% - 20px);
    background-color: #bc4b51;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.homeButton:hover, .homeButton:active, #backButton:hover, #backButton:active {
    cursor: pointer;
    background-color: #185d78 !important;
}

.closePopUp:hover, .closePopUp:active {
    cursor: pointer;
    background-color: #a5132e;
}

.helpButton:hover, .helpButton:active {
    cursor: pointer;
    background-color: #509c3b;
}

.closePopUpIcon {
    position: absolute;
    width: 20px;
    left: 10px;
    top: 10px;
}

#endMessage {
    font-size: 200%;
    display: block;
    color: white;
    text-align: center;
    height: 70vh;
    margin: 15vh auto auto auto;
    line-height: 15vh;
    width: 90vw;
}

#endMessage h1 {
    font-size: 75px;
}

.boxes .row img:hover, .boxes .row img:active {
    cursor:pointer;
}

@media screen and (min-width: 992px) {
    .boxes {
        width: 90%;
        margin: auto;
        max-width: 1200px;
    }

    .row {
        padding: 10px 0 10px 0;
    }

    .homeRow {
        display: flex;
    }
}